<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="covid-19, san francisco, san franciscovid, sanfranciscovid, sf, sf covid data, {% block keywords %}{% endblock %}">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="https://static.thenounproject.com/png/403763-200.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Lobster+Two|Luckiest+Guy|Poiret+One|Sigmar+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Abril+Fatface&family=Montserrat&family=Raleway&family=Roboto&family=Zilla+Slab+Highlight:wght@700&family=Lobster&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Monoton&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <style>
          h1, h2, h3, h4, h5 {
            width:100%;
          }
          body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #cfe5cf !important;
    font-family: 'Montserrat', sans-serif;
    }
    h1,h2,h3,h4,h5 {
        font-family: 'Poiret One', cursive;
    }

    .btn-custom {
    color: #000;
    background-color: #f6def6 !important;
    border-color: #f6def6 !important;
}
a {
    color: forestgreen !important;
}
        /* body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #efe9df !important;
    font-family: 'Montserrat', sans-serif;
    }
    h1,h2,h3,h4,h5 {
        font-family: 'Quicksand', sans-serif;
        padding: 10px;
    }

    * {
        font-family: 'Roboto', sans-serif;
    }
    
    .highlight {
      background-color:#9CAF88;
    }

    .btn-custom {
    color: #fff;
    background-color: #51505d !important;
    border-color: #51505d !important;
}
a {
    color: #51505d !important;
    text-decoration: underline;
} */

#navbar-list > li, #navbar-list {
  display: inline-block;
  zoom:1;
    *display:inline;
  padding-left:15px;
  padding-right:15px;
}
</style>

        {% block head %}{% endblock %}
    </head>
    <body>
      <!-- <nav class="collapse navbar-collapse justify-content-md-center" id="navbar"> -->
        <nav class="navbar navbar-light bg-light text-center align-items-center justify-content-center" id="nav" style="background-color:#cff6cf !important">
        <h1>San Francisco History & Arts Final Project: Running</h1>
          <ul class="navbar-nav" id="navbar-list">
          <li class="nav-item {% block homeisactive %}{% endblock %}">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item {% block aboutisactive %}{% endblock %}">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item {% block mapisactive %}{% endblock %}">
            <a class="nav-link" href="/map">Map</a>
          </li>
          <li class="nav-item {% block routesisactive %}{% endblock %}">
            <a class="nav-link" href="/scenic-runs">Running Routes</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/destinations" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Destinations</a>
            <div class="dropdown-menu" aria-labelledby="dropdown08">
              <a class="dropdown-item" href="#">Kezar</a>
              <a class="dropdown-item" href="#">Hopper's Hands</a>
              <a class="dropdown-item" href="#">Big Rec Field</a>
            </div>
          </li> -->
          <li class="nav-item {% block destinationsisactive %}{% endblock %}">
            <a class="nav-link" href="/landmarks">Landmarks</a>
          </li>
        </ul>
      </nav>
<!-- 
        <nav class="navbar navbar-light bg-light text-center align-items-center justify-content-center" id="nav">
          <a class="navbar-brand" href="/" style="font-size:20pt; font-family: 'Quicksand', sans-serif;">
            SF Running Map
          </a>
        </nav> -->
        <div class="container-fluid" style="padding:5%">
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        <footer class="page-footer font-small pt-4" style="padding:5%">

          <div class="container-fluid text-center text-md-left">

            <div class="row">

              <!-- <div class="col-md-6 mt-md-0 mt-3">

                <h5 class="text-uppercase">Contribute to SanFrancisCOVID!</h5>
                <p>This web app is open source and we welcome any contributors. See GitHub link below.</p>
          
                <a href="https://github.com/isabellahoch/sanfranciscovid"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" height="40"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" height="40"></a>

              </div> -->

              <hr class="clearfix w-100 d-md-none pb-3">

              <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">Contact</h5>
                <p>Please email <a href="mailto:isabellahochschild@gmail.com">isabellahochschild@gmail.com</a> with any concerns or media requests.</p>

              </div>

              <div class="col-md-3 mb-md-0 mb-3">


                <h5 class="text-uppercase">RESOURCES</h5>

                <ul class="list-unstyled">
                  {% for source in info.sources %}
                  <li>
                    <a href="{{ source.website }}">{{ source.name }}</a>
                  </li>
                  {% endfor %}
                </ul>

              </div>


            </div>


          </div>

          <hr>
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© <span id="copyright_year">2021</span> Copyright:
            <a href="/"> Isabella Hochschild</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
        <script>
var date = new Date();
var year = date.getFullYear();  
document.getElementById("copyright_year").innerHTML = year.toString();
</script>
<script>
  $(".nav-link").each(function() {
    console.log(($(this).attr("id")));
    if ($(this).hasClass("active")) {
      console.log(($(this).attr("id")));
    }
  });
</script>
        {% block js %}
        {% endblock %}
    </body>
</html>